<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h1>=== BULLETIN BOARD ===</h1>
    <form action="/comment" method="post" enctype="text/plain" >
        <label for="content">Leave a comment: </label>
        <input type="text" id="content" name="content" maxlength="255"><br/>
        <input type="submit" value="Send">
    </form>
    <br/>
    <br/>
    <form action="/logout" method="post" enctype="text/plain" >
        <input type="submit" value="Logout">
    </form>
</body>
</html>