/****************************************************************************
  FileName      [ Cell.css ]
  PackageName   [ src/components/css ]
  Author        [ Cheng-Hua Lu, Chin-Yi Cheng ]
  Synopsis      [ This file set the style of Cell. ]
  Copyright     [ 2021 10 ]
****************************************************************************/

*{
  font-family: 'Futura';
}
.cell{
    width : 30px;
    height : 30px;
    justify-content: "center";
    align-items: "center";
    display: "flex";
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
};
.cell:hover{
    cursor: pointer;
}